.product-page {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.product-page .product-image {
  margin-top: 100px;
  width: 400px;
  max-height: 420px;
}

.product-page .details {
  background-color: white;
  width: 400px;
  margin-left: 70px;
  padding: 30px;
  margin-top: 100px;
  border-radius: 10px;
}

.product-page .details .info h1 {
  font-size: 20px;
  font-weight: 600;
}

.product-page .details .info .price {
  margin-top: 50px;
  font-size: 30px;
  font-weight: 600;
}

.product-page .details .info .price span {
  font-size: 15px;
  font-weight: 400;
}

.product-page .details .info .installments {
  display: flex;
  font-size: 15px;
}

.product-page .details .info .installments img {
  margin-right: 10px;
}

.product-page .details .info .additional-info {
  margin-top: 50px;
  font-size: 13px;
  font-weight: 400;
}

.product-page .details .info .buttons {
  display: flex;
  margin-top: 80px;
}

.product-page .details .info .buttons .buy-button {
  padding: 10px;
  width: 155px;
  border: none;
  border-radius: 10px;
  background-color: var(--amarelo);
  font-weight: 600;
  cursor: pointer;
  margin-left: 80px;
}

.product-page .details .info .buttons .add-cart-button {
  margin-left: 10px;
  height: 42px;
  width: 46px;
  border-radius: 13px;
  border: 1px solid gray;
  cursor: pointer;
  transition: 300ms;
}

.cards-info {
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  color: black;
}

.cards-info .card-shipping {
  background-color: white;
  padding: 20px;
  width: 140px;
  margin-top: 15px;
  border-radius: 10px;
  font-weight: 500;
}
