.chatbody {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: fixed;
  bottom: 0;
  right: 30px;
  align-items: center;
  width: 400px;
}

.chatbody .chat-title {
  background-color: var(--amarelo);
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.chat-title .close-button {
  width: 20px;
}

.chatbody .chat-title .title {
  display: flex;
  margin-top: 20px;
}

.chatbody .chat-title .balloon {
  background-color: #f7f7f7;
  text-align: left;
  height: 50px;
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
}

.chatbody .chat-title .balloon p {
  font-size: 15px;
  font-weight: 500;
}

.chatbody .chat-bottom {
  background-color: #f7f7f7;
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatbody .chat-bottom .input {
  position: fixed;
  bottom: 0;
}

.chatbody .messages {
  display: flex;
  width: 90%;
  height: 100%;
  margin-top: 15px;
  overflow-y: scroll;
  flex-direction: column;
  overflow-x: hidden;
  margin-bottom: 50px;
  max-height: none;
}

.chatbody .messages .client-div {
  justify-content: flex-end;
}

.chatbody .messages .client-message {
  border-radius: 10px 10px 10px 0;
}

/* Ajustes nas classes existentes */
.client-div,
.hique-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px; /* Ajuste a margem conforme necessário */
}

.chatbody .messages .hique-message {
  max-width: 200px;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px 10px 0 10px; /* Ajuste para arredondar a borda à esquerda */
  margin-right: auto; /* Adicionado para alinhar à esquerda */
}

.chatbody .messages .client-message {
  max-width: 200px;
  background-color: rgb(226, 225, 225);
  border-radius: 10px 10px 10px 0;
  font-weight: 400;
  font-size: 15px;
  margin-left: auto; /* Adicionado para alinhar à direita */
}

.chatbody .chat-bottom .input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.chatbody .chat-bottom .input input {
  background-color: #f7f7f7;
  border: 1px black solid;
  padding: 5px;
  margin-bottom: 10px;
  transition: ease-in-out 300ms;
}

.chatbody .chat-bottom .input input:focus {
  outline: none;
  border-radius: 10px;
}

.chatbody .chat-bottom .input button {
  background-color: var(--amarelo);
  padding: 5px;
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
