.all-header {
  background-color: #494352;
}

header {
  display: flex;
  justify-content: space-around;
  background-color: #1c1427;
  align-items: center;
  height: 80px;
}

.discord-container {
  background-color: white;
  width: 200px;
  height: 80px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: 400ms;
  z-index: 1;
  position: absolute;
  color: black;
  border-radius: 0px 14px 14px 14px;
  margin-top: 10px;
  gap: 5px;
}
.discord-container a {
  color: #000;
  margin-left: 5px;
  font-size: 15px;
  align-items: center;
}

.discord-container a:hover {
  color: #000000b1;
}

.move {
  background-color: #1c1427;
}

.links-a {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 53px;
}

nav li a {
  color: whitesmoke;
  font-size: 15px;
  text-decoration: none;
  transition: 350ms;
}

nav li a:hover {
  color: #fba901;
}

.header-cart {
  display: flex;
  color: #fba901;
}

header a {
  text-decoration: none;
}

.header-cart .cart-quantity {
  background-color: #ff0000;
  color: white;
  border-radius: 100%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 13px;
  margin-left: -3px;
  margin-top: -5px;
}

.header-cart p {
  margin-left: 10px;
}
