.shop-info {
  display: flex;
  margin-top: 50px;
  width: 80%;
  color: whitesmoke;
  height: 30vh;
  margin: 0 auto;
  text-align: center;
}

.shop-info .info-line {
  height: 100px;
  width: 1px;
  background-color: #77727d;
  margin-left: 45px;
  margin: 0 auto;
  margin-top: 20px;
}

.shop-info .infos-title {
  display: flex;
}

.shop-info .infos-title h2 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 15px;
}

.shop-info .infos p {
  margin-top: 20px;
  color: var(--amarelo);
}
