@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #1c1427;
}

:root {
  --amarelo: rgba(251, 169, 1, 1);
  --branco: rgba(255, 255, 255, 1);
  --pretopreto-10: rgba(232, 231, 233, 1);
  --preto: rgba(28, 20, 39, 1);
  --pretopreto-20: rgba(210, 208, 212, 1);
  --pretopreto-30: rgba(187, 185, 190, 1);
  --pretopreto-40: rgba(164, 161, 169, 1);
  --pretopreto-5: rgba(244, 243, 244, 1);
  --pretopreto-60: rgba(119, 114, 125, 1);
  --pretopreto-80: rgba(73, 67, 82, 1);
}

.input-control {
  border: transparent;
  transition: ease-in-out 500ms;
}

.input-control:focus {
  outline: none;
  border: black 1px solid;
}

.terms-list ol {
  margin-top: 30px;
}

.terms-list li {
  margin-top: 20px;
}

.terms-list ol li h2 {
  font-size: 20px;
  font-weight: 600;
}

.terms-list ol li p {
  font-size: 15px;
  margin-top: 15px;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  .home {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-position: right !important;
  }

  .home .box-card {
    margin-left: -70px;
  }

  .home .box-news {
    margin-left: -70px;
  }
  .home .left-section .title {
    margin-left: -70px;
  }
  .home .box-news {
    margin-left: -70px;
  }

  .home .items {
    margin-left: -70px;
    max-width: 300px;
    overflow-x: scroll;
  }

  .bot-title {
    display: flex;
    flex-direction: column;
  }

  .bot-title h1 {
    margin-left: 20px !important;
  }

  .bot-title p {
    margin-top: -50px;
    margin-left: 20px;
  }

  .choose-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .choose-bot .prev-button,
  .choose-bot .next-button {
    position: absolute;
    top: 143%;
  }
  .choose-bot .next-button {
    margin-left: 100px;
  }
  .choose-bot .prev-button {
    margin-right: 100px;
  }

  .bot-section {
    display: flex;
    flex-direction: column;
  }

  .bot-section .bot-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .bot-card img {
    max-width: 80%;
  }

  .bot-card .bot-info ul {
    display: flex;
    margin-left: 0px;
    gap: 20px;
  }

  .bot-card .bot-info ul li p,
  .bot-card .bot-info ul li h2 {
    font-size: 15px;
  }

  .bot-card .bot-quantity {
    display: flex;
    margin-left: -10px;
    align-items: center;
    justify-content: center;
  }

  .bot-card .bot-quantity p {
    display: none;
  }

  .bot-card .quantity-input {
    margin-left: 15px;
  }

  .bot-card .buy-buttons {
    display: flex;
    flex-direction: row;
    margin-left: -8px;
  }

  .bot-card .buy-buttons button {
    width: 110px;
    margin-left: 15px;
  }

  .shop-info {
    overflow-x: scroll;
    font-size: 10px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
    gap: 25px;
  }

  .card-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
  }

  .teras-section .titles h1 {
    width: 220px;
    height: 20px;
    font-size: 15px;
    margin-left: 20px;
  }

  .menu-section-title {
    margin-left: -40px;
    width: 100% !important;
  }
  .menu-section-title h1 {
    font-size: 15px;
    width: 80%;
  }

  footer .infos-detail img {
    width: 30px;
    height: 100px;
  }

  footer .infos-detail .list-messages .messages p {
    font-size: 13px;
  }
  footer .infos-detail .list-messages .messages img {
    width: 30px;
    height: 30px;
  }
  footer .infos-detail .list-messages .messages-two p {
    height: 40px;
    font-size: 13px;
  }
}

@media screen and (max-width: 600px) {
  table {
    width: 100%;
  }

  .responsive {
    display: none;
  }
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  table .button-table {
    width: 100px !important;
  }

  td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 70%;
    padding-right: 50px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Itens";
  }
  td:nth-of-type(2):before {
    content: "Preço Unidade";
  }

  td:nth-of-type(4):before {
    content: "Estoque";
  }
  td:nth-of-type(5):before {
    content: "Comprar";
  }

  .product-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-page .details {
    width: 300px;
    margin-left: 0;
  }

  .product-page .details .info .buttons .quantity-input {
    display: flex;
  }

  .product-page .cards-info {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    gap: 10px;
  }

  .product-page .card-shipping {
    width: 80px;
    height: 50px;
    font-size: 10px;
  }
}
